body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  display: grid;
  justify-content: center;
  align-content: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #ffffff;
}

.gridItem {
  background-color: #c2c2c2;
  border: 1px solid #000000;
  padding: 1em;
  text-align: center;
}